SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
OPENAI_API_KEY=
SLACK_BOT_ID=
SLACK_LEGACY_MENTION_PREFIX=
SERPAPI_KEY=
OPENAI_API_BASE=
LLM_MODEL_NAME=deepseek-ai/DeepSeek-V3.2-Exp
LLM_FALLBACK_MODEL_NAME=Qwen/Qwen2.5-7B-Instruct
LLM_VISION_MODEL_NAME=Qwen/Qwen3.5-9B  #视觉模型
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=
yh1=
yh2=