SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
OPENAI_API_KEY=
SLACK_BOT_ID=
SLACK_LEGACY_MENTION_PREFIX=
SERPAPI_KEY=
OPENAI_API_BASE=
LLM_MODEL_NAME=
LLM_FALLBACK_MODEL_NAME=
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=